<header>
    <nav class="navbar">
      <a href="#" class="nav-logo">Wiki.</a>

      <ul class="nav-menu">
        <li class="nav-item">
          <a href="#integrantes" class="nav-link">Integrantes</a>
        </li>
        <li class="nav-item">
          <a href="#descripcion" class="nav-link">Descripción del proyecto</a>
        </li>
        <li class="nav-item">
          <a href="#requerimientos" class="nav-link">Requerimientos</a>
        </li>
        <li class="nav-item">
          <a href="#arquitectura" class="nav-link">Arquitectura del proyecto</a>
        </li>
        <li class="nav-item">
          <a href="#desarrollo" class="nav-link">Desarrollo</a>
        </li>
        <li class="nav-item">
          <a href="#pruebas" class="nav-link">Pruebas</a>
        </li>
        <li class="nav-item">
          <a href="#despliegue" class="nav-link">Despliegue</a>
        </li>
        <li class="nav-item">
          <a href="#contactanos" class="nav-link">Contáctanos</a>
        </li>
      </ul> 
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>


  