.contenedor-arquitectura{
    margin-left: 10%;
    margin-right: 10%;
}

.contenedor-arquitectura h1{
    text-align: center;
    margin-top: 5%;
}

.contenedor-arquitectura .imgmvc{
    width: 800px;
}

.contenedor-arquitectura .center-image{
    text-align: center;
}

/* Estilos para las filas */
.row {
    display: flex;
    justify-content: center;
}

.contenedor-arquitectura .center-image img{
    max-width: 700px;
}
