<div class="contenedor-arquitectura">


    <h1>Base de datos</h1>

    <p> La base de datos de MusicaList almacena los datos del sistema como lo son las canciones, 
        las listas y la información de los usuarios independientemente sean administrador o votante. 
        cuenta con seis tablas (admin, cancion, lista, persona, persona_cancion y persona_lista), 
        de las cuales dos de ellas corresponden a tablas intermedias (persona_cancion y persona_lista).
        A continuación, se podrá encontrar detalladamente como se estructurarán las tablas de la base 
        de datos:
    </p>

    
    <div class="center-image">
        <img src="assets/images/Tabla_BD.jpg" alt="Tablas_BD" class="imgtabla">
    </div>

    <h1>Diccionario de datos</h1>

    <h2>Admin</h2>

    <p>
        Esta tabla almacena información sobre los administradores del sistema, cada fila de la tabla 
        representa un administrador y cada columna representa un dato sobre el administrador, los datos 
        que se almacenan son id_admin, contrasenia y nombre.
    </p>

    <div class="center-image">
        <img src="assets/images/Tabla_Admin.jpg" alt="Digrama_MVC" class="imgmvc">
    </div>
    
    <h2>Cancion</h2>

    <p>
        Esta tabla almacena información sobre todas las canciones que se encuentran almacenadas en la 
        base de datos, por lo que cada fila corresponde a una canción diferente y las columnas a los 
        datos que se almacenarán que corresponderán a id_cancion, album, artista, duracion y nombre. 
    </p>

    <div class="center-image">
        <img src="assets/images/Tabla_Cancion.jpg" alt="Digrama_MVC" class="imgmvc">
    </div>

    <h2>Lista</h2>

    <p>
        En esta tabla se encontrará la información de las todas listas a las que se encontraran vinculadas
        las canciones, por lo que en cada fila se encontrara una lista con n canciones y en cada columna
         los datos de cada una de ellas que corresponden al id_lista y genero. 
    </p>

    <div class="center-image">
        <img src="assets/images/Tabla_Lista.jpg" alt="Digrama_MVC" class="imgmvc">
    </div>


    <h2>Persona</h2>

    <p>
        En esta tabla se almacenarán los datos de los usuarios de tipo persona que corresponden a los
         votantes, por lo que no cuentan con las facultades de crear listas o subir canciones dentro 
         del sistema. En cada fila de esta tabla se encontrará la información de un usuario y en las 
         columnas los datos que poseen cada uno de ellos que son id_persona, apellido, contrasenia, 
         correo_electronico y nombre.
    </p>

    <div class="center-image">
        <img src="assets/images/Tabla_Persona.jpg" alt="Digrama_MVC" class="imgmvc">
    </div>

    <h2>Persona_cancion</h2>

    <p>
        Esta tabla es intermedia entre las tablas persona y canción ya que estas tienen una relación 
        muchos a muchos, con esta se pretende facilitar las relaciones entre las dos tablas de la manera
        más ordenada posible con el fin de garantizar que se vinculen de las variables de la mejor manera
        posible. Esta tabla cuenta con las variables id_persona_cacion, like, id_cacion e id_persona
    </p>

    <div class="center-image">
        <img src="assets/images/Tabla_Persona_Cancion.jpg" alt="Digrama_MVC" class="imgmvc">
    </div>

    <h2>Persona_lista</h2>

    <p>
        Por último, esta tabla es una tabla intermedia que relaciona las tablas persona y lista, 
        ya que presentan una relación muchos a muchos, para lo cual se requieren dos llaves foráneas 
        una de la tabla lista y otra de la tabla persona en adición a la variable id_persona_lista y like.
    </p>

    <div class="center-image">
        <img src="assets/images/Tabla_Persona_Lista.jpg" alt="Digrama_MVC" class="imgmvc">
    </div>


    <h1>Diagrama MVC del proyecto</h1>

    <p>Este diagrama Explica como es la conexión de la base de datos de nuestro proyecto.</p> 


    <div class="center-image">
        <img src="assets/images/Diagrama_paquetes.jpg" alt="Digrama_MVC" class="imgmvc">
    </div>
    



    <h1>Diagramas de clases</h1>

    <p>
        Los siguientes diagramas muestran la composición de las clases controller, entity, 
        repository y services
    </p> 

    <div class="center-image">
        <img src="assets/images/controllers.png" alt="Digrama_MVC" class="imgmvc">
    </div>


    <div class="center-image">
        <img src="assets/images/entities.png" alt="Digrama_MVC" class="imgmvc">
    </div>

    <div class="center-image">
        <img src="assets/images/services.png" alt="Digrama_MVC" class="imgmvc">
    </div>

    <div class="center-image">
        <img src="assets/images/repository.png" alt="Digrama_MVC" class="imgmvc">
    </div>



</div> 
    
