<div class="contenedor-arquitectura">


    <h1>Base de datos</h1>

    <p> La base de datos de MusicaList almacena los datos del sistema como lo son las canciones, 
        las listas y la información de los usuarios independientemente sean administrador o votante. 
        cuenta con seis tablas (admin, cancion, lista, persona, persona_cancion y persona_lista), 
        de las cuales dos de ellas corresponden a tablas intermedias (persona_cancion y persona_lista).
        A continuación, se podrá encontrar detalladamente como se estructurarán las tablas de la base 
        de datos:
    </p>

    
    <div class="center-image">
        <img src="assets/images/Tablas_BD.png" alt="Tablas_BD" class="imgtabla">
    </div>
    

    <h1>Diagrama MVC del proyecto</h1>

    <p>Este diagrama Explica como es la conexión de la base de datos de nuestro proyecto.</p> 


    <div class="center-image">
        <img src="assets/images/Digrama_MVC.png" alt="Digrama_MVC" class="imgmvc">
    </div>

    <h1>Diagrama MVC del proyecto</h1>

    <p>Este diagrama Explica como es la conexión de la base de datos de nuestro proyecto.</p> 

    <div class="center-image">
        <img src="assets/images/Digrama_MVC.png" alt="Digrama_MVC" class="imgmvc">
    </div>


</div> 
    
