<header>
    <nav class="navbar">
      <a href="#" class="nav-logo">Wiki.</a>

      <ul class="nav-menu" [class.active]="menuIsActive">
        <li class="nav-item">
          <a href="#integrantes" class="nav-link" (click)="toggleMenu()">Integrantes</a>
        </li>
        <li class="nav-item">
          <a href="#descripcion" class="nav-link" (click)="toggleMenu()">Descripción del proyecto</a>
        </li>
        <li class="nav-item">
          <a href="#requerimientos" class="nav-link" (click)="toggleMenu()">Requerimientos</a>
        </li>
        <li class="nav-item">
          <a href="#arquitectura" class="nav-link" (click)="toggleMenu()">Arquitectura del proyecto</a>
        </li>
        <li class="nav-item">
          <a href="#desarrollo" class="nav-link" (click)="toggleMenu()">Desarrollo</a>
        </li>
        <li class="nav-item">
          <a href="#pruebas" class="nav-link" (click)="toggleMenu()">Pruebas</a>
        </li>
        <li class="nav-item">
          <a href="#despliegue" class="nav-link" (click)="toggleMenu()">Despliegue</a>
        </li>
        <li class="nav-item">
          <a href="#contactanos" class="nav-link" (click)="toggleMenu()">Contáctanos</a>
        </li>
      </ul>
       
      <div class="hamburger" (click)="toggleMenu()" [class.active]="menuIsActive">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>

  <section class="cocoBack hidden">
    <h1>É un elissir</h1>
    <p>¿El mejor del mundo? 
      <br>Un Johnnie Walker etiqueta negra lo tomo... <br> pero cuando es algo especial, un Blue Label. 
      <br>El otro es un whisky... uno se toma... el otro se saborea. <br> El etiqueta negra para tomar fuerte después de las seis <br> el Blue Label para cualquier hora. 
      <br>Lo podés tomar a la mañana, jamás te va a agarrar acidez ni gastritis ni nada.</p>
  </section>

  <section class="integrantes hidden" id="integrantes">
    <br>
    <h1>Integrantes</h1>
    <br>
    <div class="integrantes-grid">
        <div class="integrante">
            <div class="info">
              <h1>Blue Label</h1>
              <br>
              <p>Blue Label es un músico y productor ecléctico que aporta una mezcla única de géneros y estilos a la música contemporánea. 
                 Con una pasión innata por la experimentación sonora, Blue Label ha forjado un camino artístico que desafía las convenciones 
                 musicales y sorprende a su audiencia.
              </p>
            </div>
            <img src="https://via.placeholder.com/300x400" alt="Integrante 1" class="imgright">
        </div>
        <div class="integrante">
            <img src="https://via.placeholder.com/300x400" alt="Integrante 2" class="imgleft">
            <div class="info">
              <h1>Blue Label</h1>
              <br>
              <p>Blue Label es un músico y productor ecléctico que aporta una mezcla única de géneros y estilos a la música contemporánea. 
                 Con una pasión innata por la experimentación sonora, Blue Label ha forjado un camino artístico que desafía las convenciones 
                 musicales y sorprende a su audiencia.
              </p>
            </div>
        </div>
        <div class="integrante">
          <div class="info">
            <h1>Blue Label</h1>
            <br>
            <p>Blue Label es un músico y productor ecléctico que aporta una mezcla única de géneros y estilos a la música contemporánea. 
               Con una pasión innata por la experimentación sonora, Blue Label ha forjado un camino artístico que desafía las convenciones 
               musicales y sorprende a su audiencia.
            </p>
          </div>
            <img src="https://via.placeholder.com/300x400" alt="Integrante 3" class="imgright">
        </div>
        <div class="integrante">
            <img src="https://via.placeholder.com/300x400" alt="Integrante 4" class="imgleft">
            <div class="info">
              <h1>Blue Label</h1>
              <br>
              <p>Blue Label es un músico y productor ecléctico que aporta una mezcla única de géneros y estilos a la música contemporánea. 
                 Con una pasión innata por la experimentación sonora, Blue Label ha forjado un camino artístico que desafía las convenciones 
                 musicales y sorprende a su audiencia.
              </p>
            </div>
        </div>
    </div>
    <br>
  </section>

  <section class="descripcion hidden" id="descripcion">
    <h1>É un elissir</h1>
    <p>¿El mejor del mundo? 
      <br>Un Johnnie Walker etiqueta negra lo tomo... <br> pero cuando es algo especial, un Blue Label. 
      <br>El otro es un whisky... uno se toma... el otro se saborea. <br> El etiqueta negra para tomar fuerte después de las seis <br> el Blue Label para cualquier hora. 
      <br>Lo podés tomar a la mañana, jamás te va a agarrar acidez ni gastritis ni nada.</p>
  </section>

  <section class="requerimientos hidden" id="requerimientos">
    <h1>É un elissir</h1>
    <p>¿El mejor del mundo? 
      <br>Un Johnnie Walker etiqueta negra lo tomo... <br> pero cuando es algo especial, un Blue Label. 
      <br>El otro es un whisky... uno se toma... el otro se saborea. <br> El etiqueta negra para tomar fuerte después de las seis <br> el Blue Label para cualquier hora. 
      <br>Lo podés tomar a la mañana, jamás te va a agarrar acidez ni gastritis ni nada.</p>
  </section>

  <section class="arquitectura hidden" id="arquitectura">
    <h1>É un elissir</h1>
    <p>¿El mejor del mundo? 
      <br>Un Johnnie Walker etiqueta negra lo tomo... <br> pero cuando es algo especial, un Blue Label. 
      <br>El otro es un whisky... uno se toma... el otro se saborea. <br> El etiqueta negra para tomar fuerte después de las seis <br> el Blue Label para cualquier hora. 
      <br>Lo podés tomar a la mañana, jamás te va a agarrar acidez ni gastritis ni nada.</p>
  </section>

  <section class="desarrollo hidden" id="desarrollo">
    <h1>É un elissir</h1>
    <p>¿El mejor del mundo? 
      <br>Un Johnnie Walker etiqueta negra lo tomo... <br> pero cuando es algo especial, un Blue Label. 
      <br>El otro es un whisky... uno se toma... el otro se saborea. <br> El etiqueta negra para tomar fuerte después de las seis <br> el Blue Label para cualquier hora. 
      <br>Lo podés tomar a la mañana, jamás te va a agarrar acidez ni gastritis ni nada.</p>
  </section>

  <section class="pruebas hidden" id="pruebas">
    <h1>É un elissir</h1>
    <p>¿El mejor del mundo? 
      <br>Un Johnnie Walker etiqueta negra lo tomo... <br> pero cuando es algo especial, un Blue Label. 
      <br>El otro es un whisky... uno se toma... el otro se saborea. <br> El etiqueta negra para tomar fuerte después de las seis <br> el Blue Label para cualquier hora. 
      <br>Lo podés tomar a la mañana, jamás te va a agarrar acidez ni gastritis ni nada.</p>
  </section>

  <section class="despliegue hidden" id="despliegue">
    <h1>É un elissir</h1>
    <p>¿El mejor del mundo? 
      <br>Un Johnnie Walker etiqueta negra lo tomo... <br> pero cuando es algo especial, un Blue Label. 
      <br>El otro es un whisky... uno se toma... el otro se saborea. <br> El etiqueta negra para tomar fuerte después de las seis <br> el Blue Label para cualquier hora. 
      <br>Lo podés tomar a la mañana, jamás te va a agarrar acidez ni gastritis ni nada.</p>
  </section>

  <section class="contactanos hidden" id="contactanos">
    <h1 style="font-size: 3rem;">Formulario</h1>
    <!-- <form>
        <label for="nombre">Nombre: <input type="text" id="nombre" name="nombre" (input)="verificarCaracteres($event, 'nombre')" placeholder="Introduce tu nombre"> </label>
        <p id="errorNombre" class="error">{{ nombreError }}</p>

        <label for="apellido">Apellido: <input type="text" id="apellido" name="apellido" (input)="verificarCaracteres($event, 'apellido')" placeholder="Introduce tu apellido"> </label>
        <p id="errorApellido" class="error">{{ apellidoError }}</p>

  
        <label for="fecha">Fecha de nacimiento: <input type="date" id="fecha" name="fecha" required></label>
  
        <label for="edad">Edad: <input type="number" id="edad" name="edad" name="apellido" (input)="verificarEdad($event)" placeholder="Indica tu edad en números enteros"> </label>
        <p id="errorEdad" class="error">{{ edadError }}</p>
  
        <input type="submit" value="Enviar"> 
    </form> -->

    <!-- <div *ngIf="isLoading" class="loading-overlay">
      <div class="loading-spinner"></div>
    </div> -->

    <div *ngIf="isLoading" class="loading-overlay">
      <div class="loader"></div>
      <p class="loading-text">ENVIANDO FORMULARIO ....</p>
    </div>

    <form (submit)="enviarFormulario()">
      <label for="nombre">Nombre: <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" placeholder="Introduce tu nombre"></label>
      <p id="errorNombre" class="error">{{ nombreError }}</p>
    
      <label for="apellido">Apellido: <input type="text" id="apellido" name="apellido" [(ngModel)]="apellido" placeholder="Introduce tu apellido"></label>
      <p id="errorApellido" class="error">{{ apellidoError }}</p>
    
      <label for="fecha">Fecha de nacimiento: <input type="date" id="fecha" name="fecha" [(ngModel)]="fechaNacimiento" required></label>
    
      <label for="edad">Edad: <input type="number" id="edad" name="edad" [(ngModel)]="edad" placeholder="Indica tu edad en números enteros"></label>
      <p id="errorEdad" class="error">{{ edadError }}</p>
    
      <input type="submit" value="Enviar"> 
    </form>

  </section>

  