@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

li{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #6f4a61;
}

header {
    background-color: #3F1D38;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.nav-link{
    color: white;
    text-decoration: none;
    transition: 0.7s ease;
}

.nav-link:hover{
    color: #E19898;
}

.nav-logo {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 3rem;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {
    list-style: none;
    
}

.hamburger{
    display: none;
    cursor: pointer;
}

/* Barritas del menú */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}

/* .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 53, 53, 0.8);
  display: flex;
  flex-direction: column; /* Cambia la dirección del flujo a columna */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté en la parte superior */
}

.loader {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
  position: relative;
  background: radial-gradient(ellipse at center, #FFF 69%, rgba(0, 0, 0, 0) 70%), linear-gradient(to right, rgba(0, 0, 0, 0) 47%, #FFF 48%, #FFF 52%, rgba(0, 0, 0, 0) 53%);
  background-size: 40px 40px , 40px auto;
  background-repeat: repeat-x;
  background-position: center bottom, center -5px;
  box-sizing: border-box;
}

.loader::before,
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: -40px;
  top: 0;
  width: 40px;
  height: 120px;
  background: radial-gradient(ellipse at center, #FFF 69%, rgba(0, 0, 0, 0) 70%), linear-gradient(to right, rgba(0, 0, 0, 0) 47%, #FFF 48%, #FFF 52%, rgba(0, 0, 0, 0) 53%);
  background-size: 40px 40px , 40px auto;
  background-repeat: no-repeat;
  background-position: center bottom, center -5px;
  transform: rotate(0deg);
  transform-origin: 50% 0%;
  animation: animPend 1s linear infinite alternate;
}

.loader::after {
  animation: animPend2 1s linear infinite alternate;
  left: 100%;
}

.loading-text {
  font-size: 24px; /* Cambia el tamaño de fuente del texto */
  margin-top: 20px; /* Agrega margen superior para separarlo de la animación */
}

@keyframes animPend {
  0% {
    transform: rotate(22deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

@keyframes animPend2 {
  0%, 55% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-22deg);
  }
}



/* En relación al tamaño de la ventana, cambiamos la condición, en este caso si la pantalla supera los 700 px deja de cumplor la condición */
@media(max-width: 1300px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        padding-top: 5%;
        z-index: 1;
        position: fixed;
        right: -100%;
        top: 70px; /* Porque este es el tamaño del header */
        gap: 50px;
        flex-direction: column;
        background-color: #3F1D38;
        justify-content: flex-start;
        width: 100%;
        text-align: center;
        transition: 0.1s;
        height: 100vh;
        font-size: 1rem;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        right: 0;
        height: 100vh;
        font-size: 2rem;
    }

}