@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.cocoBack{
    background-image: url("cocoBasile.jpg");
    background-size: cover; /* Ajustar la imagen al tamaño de la sección */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    min-height: 100vh;
    color: white; /* Cambiar el color del texto para que sea legible */
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    align-content: center;
    position: relative;
    isolation: isolate;
}

.integrantes{
    background-color: #A2678A;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh;
    color: white; 
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    align-content: center;
    position: relative;
    isolation: isolate;
}

.integrantes-grid {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center;
}

.integrante {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 80%; 
    position: relative; 
    perspective: 1000px; 
}


.integrante img {
    border-radius: 10px;
    max-width: 40%; 
    transition: transform 0.5s; 
}


.integrante:hover img {
    transform: rotateY(180deg); 
}


.integrante .back {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg); 
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.5s; 
}


.integrante:hover .back {
    opacity: 1;
    transform: rotateY(0deg);
}

.imgright{
    margin-right: -80px; 
}

.imgleft{
    margin-left: -80px; 
}

.info {
    flex: 1;
    padding: 0 20px;
    text-align: center;
}



.descripcion{
    background-color: #E19898;
    background-size: cover; /* Ajustar la imagen al tamaño de la sección */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    min-height: 100vh;
    color: white; /* Cambiar el color del texto para que sea legible */
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    align-content: center;
    position: relative;
    isolation: isolate;
}

.requerimientos{
    background-color: #3F1D38;
    background-size: cover; /* Ajustar la imagen al tamaño de la sección */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    min-height: 100vh;
    color: white; /* Cambiar el color del texto para que sea legible */
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    align-content: center;
    position: relative;
    isolation: isolate;
}

.arquitectura{
    background-color: #4D3C77;
    background-size: cover; /* Ajustar la imagen al tamaño de la sección */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    min-height: 100vh;
    color: white; /* Cambiar el color del texto para que sea legible */
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    align-content: center;
    position: relative;
    isolation: isolate;
}

.desarrollo{
    background-color: #A2678A;
    background-size: cover; /* Ajustar la imagen al tamaño de la sección */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    min-height: 100vh;
    color: white; /* Cambiar el color del texto para que sea legible */
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    align-content: center;
    position: relative;
    isolation: isolate;
}

.pruebas{
    background-color: #E19898;
    background-size: cover; /* Ajustar la imagen al tamaño de la sección */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    min-height: 100vh;
    color: white; /* Cambiar el color del texto para que sea legible */
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    align-content: center;
    position: relative;
    isolation: isolate;
}

.despliegue{
    background-color: #3F1D38;
    background-size: cover; /* Ajustar la imagen al tamaño de la sección */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    min-height: 100vh;
    color: white; /* Cambiar el color del texto para que sea legible */
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    align-content: center;
    position: relative;
    isolation: isolate;
}

.contactanos{
    background-color: #4D3C77;
    background-size: cover; /* Ajustar la imagen al tamaño de la sección */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    min-height: 100vh;
    color: white; /* Cambiar el color del texto para que sea legible */
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    align-content: center;
    position: relative;
    isolation: isolate;
}

/* Cambiar opacidad de imagen de fondo */

.cocoBack::before {
    content: "";
    position: absolute;
    background: #4D3C77;
    z-index: -1;
    inset: 0;
    opacity: 0.95;
}

.cocoBack > h1{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}



/* .hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
} */

.show {
    opacity: 1;
    filter: blur(0);
}